<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vehicle_body.name %>
</p>
<p>
  <strong>Vehicle type:</strong>
  <%= @vehicle_type.name %>
</p>

<%= link_to 'Edit', edit_vehicle_body_path(@vehicle_body) %> |
<%= link_to 'Back', vehicle_bodies_path %>
