<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vehicle_extra.name %>
</p>

<p>
  <strong>Vehicle type:</strong>
  <%= @vehicle_type.name %>
</p>

<%= link_to 'Edit', edit_vehicle_extra_path(@vehicle_extra) %> |
<%= link_to 'Back', vehicle_extras_path %>
