<p id="notice"><%= notice %></p>

<p>
  <strong>Post code:</strong>
  <%= @user_profile.post_code %>
</p>

<p>
  <strong>City:</strong>
  <%= @user_profile.city %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @user_profile.address2 %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @user_profile.address1 %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @user_profile.telephone %>
</p>

<p>
  <strong>Invoiceable:</strong>
  <%= @user_profile.invoiceable%>
</p>

<p>
  <strong>User:</strong>
  <%= @user_profile.user %>
</p>

<%= link_to 'Edit', edit_user_profile_path(@user_profile) %> |
<%= link_to 'Back', user_profiles_path %>
