<p id="notice"><%= notice %></p>

<h1>Vehicle Fuels</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicle_fuels.each do |vehicle_fuel| %>
      <tr>
        <td><%= vehicle_fuel.name %></td>
        <td><%= link_to 'Show', vehicle_fuel %></td>
        <td><%= link_to 'Edit', edit_vehicle_fuel_path(vehicle_fuel) %></td>
        <td><%= link_to 'Destroy', vehicle_fuel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vehicle Fuel', new_vehicle_fuel_path %>
