<%= form_for(vehicle, html: { class: 'smart-form', id: "vehicle_type_#{vehicleType.id}"}) do |f| %>
  <% if vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
        <% vehicle.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <label class="input">
    <i class="icon-prepend fa fa-user"></i>
    <%= f.text_field :name, placeholder: :name %>
  </label>


  <div class="field">
    <%= f.hidden_field :vehicle_type_id, value: vehicleType.id %>
  </div>

  <section>
  <div class="field">
    <%= f.label :vehicle_brand_id, class: 'label'%>
    <label class="input">
    <%= f.text_field(:vehicle_brand_id, list: 'vehicle_brand', class: 'vehicle_brand_select') %>
      <datalist id="vehicle_brand">
        <% @vehicleBrands[vehicleType.slugified_name].each do |brand| %>
          <option value="<%= brand.name %>" class=""><%= brand.name %></option>
        <% end %>
      </datalist>
    </label>
  </div>
  </section>

  <% if !@vehicleCategories[vehicleType.slugified_name].empty? %>
    <section>
      <div class="field">
        <%= f.label :vehicle_category_id, class: 'label'%>
        <label class="input">
          <%= f.text_field(:vehicle_category_id, list: 'vehicle_category') %>
          <datalist id="vehicle_category">
            <% @vehicleCategories[vehicleType.slugified_name].each do |brand| %>
              <option value="<%= brand.name %>"><%= brand.name %></option>
            <% end %>
          </datalist>
        </label>
      </div>
    </section>
  <% else %>
    <%= f.hidden_field :vehicle_category_id, value: nil %>
  <% end %>

  <section>
    <div class="field">
      <%= f.label :vehicle_model_id, class: 'label'%>
      <label class="input">
        <%= f.text_field(:vehicle_model_id, list: 'vehicle_model', class: 'vehicle_model_select', disabled:true) %>
        <datalist id="vehicle_model">
        </datalist>
      </label>
    </div>
  </section>

  <div class="field">
    <%= f.label :year %>
    <%= f.date_select :year, discard_day: true, discard_month: true %>
  </div>

  <div class="field">
    <%= f.label :vehicle_body_id %>
    <%= f.select(:vehicle_body_id) do %>
      <%= options_from_collection_for_select(@vehicleBodies[vehicleType.slugified_name], 'id', 'name') %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :meter %>
    <%= f.number_field :meter %>
  </div>

  <div class="field">
    <%= f.label :vehicle_fuel_id %>
    <%= f.select(:vehicle_fuel_id) do %>
      <%= options_from_collection_for_select(@vehicleFuels, 'id', 'name') %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :vehicle_condition_id %>
    <%= f.select(:vehicle_condition_id) do %>
      <%= options_from_collection_for_select(@vehicleConditions, 'id', 'name') %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :doors %>
    <%= f.number_field :doors %>
  </div>

  <div class="field">
    <%= f.label :seats %>
    <%= f.number_field :seats %>
  </div>

  <div class="field">
    <%= f.label :extras %>
    <%= f.text_field :extras %>
  </div>

  <% if @users %>
    <div class="field">
      <%= f.label :user_id %>
      <%= f.select(:user_id) do %>
        <%= options_from_collection_for_select(@users, 'id', 'email') %>
      <% end %>
    </div>
  <% else %>
    <%= f.hidden_field :user_id, value: current_user.id %>
  <% end %>
  <footer>
    <div class="actions">
      <%= f.submit( class: 'btn btn-success' )%>
    </div>
  </footer>
<% end %>
