<%= form_for(vehicle, html: {class: 'smart-form', id: "vehicle_type_#{vehicleType.id}"}) do |f| %>
  <% if vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
        <% vehicle.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <section class="col col-6">
      <div class="field">
        <label class="input">
          <i class="icon-prepend fa fa-car"></i>
          <%= f.text_field :name, placeholder: :name %>
        </label>
      </div>
    </section>
    <% if !@vehicleCategories[vehicleType.slugified_name].empty? %>
      <section class="col col-6">
        <div class="field">
          <label class="input">
            <i class="icon-prepend fa fa-cab"></i>
            <%= f.text_field(:vehicle_category_id, list: 'vehicle_category', placeholder: :vehicle_category) %>
            <datalist id="vehicle_category">
              <% @vehicleCategories[vehicleType.slugified_name].each do |brand| %>
                <option value="<%= brand.name %>"><%= brand.name %></option>
              <% end %>
            </datalist>
          </label>
        </div>
      </section>
    <% else %>
      <%= f.hidden_field :vehicle_category_id, value: nil %>
    <% end %>
  </div>
  <div class="field">
    <%= f.hidden_field :vehicle_type_id, value: vehicleType.id %>
  </div>
  <div class="row">
    <section class="col col-6">
      <div class="field">
        <label class="input">
          <i class="icon-prepend fa fa-star"></i>
          <%= f.text_field(:vehicle_brand_id, list: 'vehicle_brand', class: 'vehicle_brand_select', placeholder: :vehicle_brand) %>
          <datalist id="vehicle_brand">
            <% @vehicleBrands[vehicleType.slugified_name].each do |brand| %>
              <option value="<%= brand.name %>" class=""><%= brand.name %></option>
            <% end %>
          </datalist>
        </label>
      </div>
    </section>
    <section class="col col-6">
      <div class="field">
        <label class="input state-disabled">
          <i class="icon-prepend fa fa-cube"></i>
          <%= f.text_field(:vehicle_model_id, list: 'vehicle_model', class: 'vehicle_model_select', placeholder: :vehicle_model, disabled: true) %>
          <datalist id="vehicle_model">
          </datalist>
        </label>
      </div>
    </section>
  </div>
  <div class="row">
    <section class="col col-3">
      <div class="field">
        <label class="input">
          <i class="icon-prepend fa fa-calendar"></i>
          <!--<%= f.text_field(:year, discard_day: true, discard_month: true) %>-->
          <input discard_day="true" discard_month="true" type="text" name="vehicle[year]" id="vehicle_year" placeholder="Year" data-mask="9999" aria-required="true" aria-invalid="true" aria-describedby="year-error">
        </label>
      </div>
    </section>
    <section class="col col-3">
      <div class="field">
        <label class="input">
          <i class="icon-prepend fa fa-calculator"></i>
          <%= f.number_field :meter, placeholder: :meter %>
        </label>
      </div>
    </section>
    <section class="col col-3">
      <div class="field">
        <label class="input">
          <i class="icon-prepend fa fa-car"></i>
          <%= f.number_field :doors, placeholder: :doors %>
        </label>
      </div>
    </section>
    <section class="col col-3">
      <div class="field">
        <label class="input">
          <i class="icon-prepend fa fa-chain"></i>
          <%= f.number_field :seats, placeholder: :seats %>
        </label>
      </div>
    </section>
  </div>
  <div class="row">
    <section class="col col-4">
      <div class="field">
        <label class="input">
          <i class="icon-prepend fa fa-star"></i>
          <%= f.text_field(:vehicle_body_id, list: 'vehicle_body', class: 'vehicle_body_select', placeholder: :vehicle_body) %>
          <datalist id="vehicle_body">
            <% @vehicleBodies[vehicleType.slugified_name].each do |body| %>
              <option value="<%= body.name %>" class=""><%= body.name %></option>
            <% end %>
          </datalist>
        </label>
      </div>
    </section>
    <section class="col col-4">
      <div class="field">
        <label class="input">
          <i class="icon-prepend fa fa-star"></i>
          <%= f.text_field(:vehicle_condition_id, list: 'vehicle_condition', class: 'vehicle_condition_select', placeholder: :vehicle_condition) %>
          <datalist id="vehicle_condition">
            <% @vehicleConditions.each do |condition| %>
              <option value="<%= condition.name %>" class=""><%= condition.name %></option>
            <% end %>
          </datalist>
        </label>
      </div>
    </section>
    <section class="col col-4">
      <div class="field">
        <label class="input">
          <i class="icon-prepend fa fa-star"></i>
          <%= f.text_field(:vehicle_fuel_id, list: 'vehicle_fuel', class: 'vehicle_fuel_select', placeholder: :vehicle_fuel) %>
          <datalist id="vehicle_fuel">
            <% @vehicleFuels.each do |fuel| %>
              <option value="<%= fuel.name %>" class=""><%= fuel.name %></option>
            <% end %>
          </datalist>
        </label>
      </div>
    </section>
  </div>
  <section>
    <div class="inline-group">
    <% @vehicleExtras[vehicleType.slugified_name].each do |vehicleExtra| %>
        <label class="checkbox">
          <input type="checkbox" name="vehicle[extra[<%= vehicleExtra.id %>]]">
          <i></i><%= vehicleExtra.name %></label>
    <% end %>
    </div>
  </section>
  <section>
    <% if @users %>
      <%= f.label :user %>
      <label class="select">
        <%= f.select(:user_id) do %>
          <%= options_from_collection_for_select(@users, 'id', 'email') %>
        <% end %>
      </label>
    <% else %>
      <%= f.hidden_field :user_id, value: current_user.id %>
    <% end %>
  </section>

  <footer>
    <div class="actions">
      <%= f.submit(class: 'btn btn-success') %>
    </div>
  </footer>
<% end %>
