<%= form_for(vehicle, html: { class: 'smart-form'}) do |f| %>
  <% if vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.hidden_field :type, value: 'haszonjarmu' %>
  </div>

  <div class="field">
    <%= f.label :brand %>
    <%= f.select(:brand) do %>
      <%= options_from_collection_for_select(@vehicleBrands['haszonjarmu'], 'name', 'name') %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :subCategory %>
    <%= f.select(:subCategory) do %>
      <%= options_from_collection_for_select(@vehicleCategories['haszonjarmu'], 'name', 'name') %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :subType %>
    <%= f.text_field :subType %>
  </div>

  <div class="field">
    <%= f.label :model %>
    <%= f.text_field :model %>
  </div>

  <div class="field">
    <%= f.label :year %>
    <%= f.date_select :year, discard_day: true, discard_month: true %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.select(:body) do %>
      <%= options_from_collection_for_select(@vehicleBodies['haszonjarmu'], 'name', 'name') %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :meter %>
    <%= f.number_field :meter %>
  </div>

  <div class="field">
    <%= f.label :fuel %>
    <%= f.select(:fuel) do %>
      <%= options_from_collection_for_select(@vehicleFuels, 'name', 'name') %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :condition %>
    <%= f.select(:condition) do %>
      <%= options_from_collection_for_select(@vehicleConditions, 'name', 'name') %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :doors %>
    <%= f.number_field :doors %>
  </div>

  <div class="field">
    <%= f.label :seats %>
    <%= f.number_field :seats %>
  </div>

  <div class="field">
    <%= f.label :extras %>
    <%= f.text_field :extras %>
  </div>

  <% if @users %>
    <div class="field">
      <%= f.label :user_id %>
      <%= f.select(:user_id) do %>
        <%= options_from_collection_for_select(@users, 'id', 'email') %>
      <% end %>
    </div>
  <% else %>
    <%= f.hidden_field :user_id, value: current_user.id %>
  <% end %>

  <footer>
    <div class="actions">
      <%= f.submit( class: 'btn btn-success' )%>
    </div>
  </footer>
<% end %>
