<h3>Személyautó</h3>
<%= form_for(vehicle) do |f| %>
  <% if vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.hidden_field :type, value: 'szemelyauto' %>
  </div>

  <div class="field">
    <%= f.label :brand %>
    <%= f.select(:brand) do %>
      <%= options_from_collection_for_select(@vehicleBrands['szemelyauto'], 'name', 'name') %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :subCategory %>
    <%= f.text_field :subCategory %>
  </div>

  <div class="field">
    <%= f.label :subType %>
    <%= f.text_field :subType %>
  </div>

  <div class="field">
    <%= f.label :model %>
    <%= f.text_field :model %>
  </div>

  <div class="field">
    <%= f.label :year %>
    <%= f.date_select :year, discard_day: true, discard_month: true %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_field :body %>
  </div>

  <div class="field">
    <%= f.label :meter %>
    <%= f.number_field :meter %>
  </div>

  <div class="field">
    <%= f.label :fuel %>
    <%= f.text_field :fuel %>
  </div>

  <div class="field">
    <%= f.label :condition %>
    <%= f.text_field :condition %>
  </div>

  <div class="field">
    <%= f.label :doors %>
    <%= f.number_field :doors %>
  </div>

  <div class="field">
    <%= f.label :seats %>
    <%= f.number_field :seats %>
  </div>

  <div class="field">
    <%= f.label :extras %>
    <%= f.text_field :extras %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
