<% content_for :ribbon do %>
  <!-- RIBBON -->
  <div id="ribbon">

				<span class="ribbon-button-alignment">
					<span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
						<i class="fa fa-refresh"></i>
					</span>
				</span>

    <!-- breadcrumb -->
    <ol class="breadcrumb">
      <li>Home</li>
      <li>All Vehicles</li>
      | Search parameters: []
    </ol>
    <!-- end breadcrumb -->

    <!-- You can also add more buttons to the
    ribbon for further usability

    Example below:

    <span class="ribbon-button-alignment pull-right">
    <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
    <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
    <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
    </span> -->

  </div>
  <!-- END RIBBON -->
<% end %>
<p id="notice"><%= notice %></p>
<div class="container well">
  <div class="col-12">
    <div class="row-fluid">
      <h1>All Vehicles <%= link_to 'New Vehicle', new_vehicle_path, class: 'btn btn-primary pull-right' %></h1>
      <hr>
      <ul class="media-list">
        <% @vehicles.each do |vehicle| %>
          <a href="/vehicles/<%= vehicle.id %>"><li class="media well">
        <span class='pull-left'>
          <div class="well well-sm well-clean">
            <%= image_tag url_for(vehicle.vehicle_picture.first), class: 'media-object vehicle-list-image' %>
          </div>
        </span>
            <div class="media-body">
              <h4 class="media-heading"><%= vehicle.name %><small>| <%= vehicle.vehicle_type.name %></small>  <small>| <% if vehicle.vehicle_category && !vehicle.vehicle_category.name.empty? %><%= vehicle.vehicle_category.name %><% end %></small></h4>
              <h6><%= vehicle.vehicle_brand.name %> <%= vehicle.vehicle_model.name %></h6>
              <table class="table table-bordered table-condensed">
                <tr>
                  <td colspan="2">Kivitel: <%= vehicle.vehicle_body.name %></td><td>Állapot: <%= vehicle.vehicle_condition.name %></td><td>Üzemanyag: <%= vehicle.vehicle_fuel.name %></td>
                </tr>
                <tr>
                  <td>
                    Évjárat:  <%= vehicle.year %>
                  </td>
                  <td>
                    Ajtók: <%= vehicle.doors %>
                  </td>
                  <td>
                    Kilométer: <%= vehicle.meter %>
                  </td>
                  <td>
                    Ülések: <%= vehicle.seats %>
                  </td>
                </tr>
              </table>
            </div>
          </li></a>
        <% end %>
      </ul>
    </div>
  </div>
</div>