<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vehicle.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @vehicle.vehicle_type.name %>
</p>

<p>
  <strong>Subcategory:</strong>
  <%= @vehicle.vehicle_brand.name %>
</p>

<p>
  <strong>Model:</strong>
  <%= @vehicle.vehicle_model.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @vehicle.year %>
</p>

<p>
  <strong>Body:</strong>
  <%= @vehicle.vehicle_body.name %>
</p>

<p>
  <strong>Meter:</strong>
  <%= @vehicle.meter %>
</p>

<p>
  <strong>Fuel:</strong>
  <%= @vehicle.vehicle_fuel.name %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @vehicle.vehicle_condition.name %>
</p>

<p>
  <strong>Doors:</strong>
  <%= @vehicle.doors %>
</p>

<p>
  <strong>Seats:</strong>
  <%= @vehicle.seats %>
</p>

<p>
  <strong>Driveability:</strong>
  <%= @vehicle.driveability %>
</p>

<p>
  <strong>Act Type:</strong>
  <%= @vehicle.act_type %>
</p>

<p>
  <strong>Extras:</strong>
  <%= @vehicle.extras %>
</p>
<% @vehicle.vehicle_picture.each do |photo|  %>
  <%= image_tag url_for(photo) %>
<% end %>

<p>
  <strong>User:</strong>
  <%= @vehicle.user.first_name + ' ' + @vehicle.user.last_name %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
