<% content_for :ribbon do %>
  <!-- RIBBON -->
  <div id="ribbon">

				<span class="ribbon-button-alignment">
					<span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
						<i class="fa fa-refresh"></i>
					</span>
				</span>

    <!-- breadcrumb -->
    <ol class="breadcrumb">
      <li>Home</li><li>Vehicles</li><li><%=  @vehicle.id %></li>
    </ol>
    <!-- end breadcrumb -->

    <!-- You can also add more buttons to the
    ribbon for further usability

    Example below:

    <span class="ribbon-button-alignment pull-right">
    <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
    <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
    <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
    </span> -->

  </div>
  <!-- END RIBBON -->
<% end %>
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="well">
      <h1><%= @vehicle.name %></h1>
      <hr>
    </div>
  </div>
</div>
<div class="row">

  <div class="col-sm-12 col-md-6 col-lg-6">
    <div class="well">
      <table class="table table-striped">
        <tr>
          <td colspan="2">
            <span class="font-md">Type:</span>
          </td>
          <td colspan="2">
            <span class="font-md"><%= @vehicle.vehicle_type.name %></span>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <span class="font-md">Vehicle brand name:</span>
          </td>
          <td colspan="2">
            <span class="font-md"><%= @vehicle.vehicle_brand.name %></span>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <span class="font-md">Vehicle model name:</span>
          </td>
          <td colspan="2">
            <span class="font-md"><%= @vehicle.vehicle_model.name %></span>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <span class="font-md">Vehicle body:</span>
          </td>
          <td colspan="2">
            <span class="font-md"><%= @vehicle.vehicle_body.name %></span>
          </td>
        </tr>
        <% if @vehicle.vehicle_category && !@vehicle.vehicle_category.name.empty? %>
          <tr>
            <td colspan="2">
              <span class="font-md">Vehicle category:</span>
            </td>
            <td colspan="2">
              <span class="font-md"><%= @vehicle.vehicle_category.name %></span>
            </td>
          </tr>
        <% end %>
        <tr>
          <td colspan="2">
            <span class="font-md">Fuel:</span>
          </td>
          <td colspan="2">
            <span class="font-md"><%= @vehicle.vehicle_fuel.name %></span>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <span class="font-md">Vehicle condition:</span>
          </td>
          <td colspan="2">
            <span class="font-md"><%= @vehicle.vehicle_condition.name %></span>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <span class="font-md">Vehicle driveability:</span>
          </td>
          <td colspan="2">
            <span class="font-md"><%= @vehicle.driveability %></span>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <span class="font-md">Vehicle acting:</span>
          </td>
          <td colspan="2">
            <span class="font-md"><%= @vehicle.act_type %></span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="font-md">Year:  <%= @vehicle.year %></span>
          </td>
          <td>
            <span class="font-md">Doors: <%= @vehicle.doors %></span>
          </td>
          <td>
            <span class="font-md">Meter: <%= @vehicle.meter %></span>
          </td>
          <td>
            <span class="font-md">Seats: <%= @vehicle.seats %></span>
          </td>
        </tr>
      </table>
      <div class="well bg-color-darken">
        <h4 class="txt-color-white">Extras:</h4>
        <hr class="txt-color-white">
        <% if @extras
             @extras.each do |extra| %>
            <span class="label label-default"><%= extra.name %></span>
          <% end
             end %>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-6">
    <div class="well">
      <h3>Tulajdonos: <%= @vehicle.user.first_name + ' ' + @vehicle.user.last_name %></h3>
      <div id="vehiclePicturesCarousel" class="carousel slide">
        <ol class="carousel-indicators">
          <% for i in 0..(@vehicle.vehicle_picture.length - 1) %>
            <li data-target="#vehiclePicturesCarousel" data-slide-to="<%= i %>" class="<%= if i == 0 then
                                                                                             "active"
                                                                                           else
                                                                                             ""
                                                                                           end %>"></li>
          <% end %>
        </ol>
        <% j = 0 %>
        <div class="carousel-inner">
          <% @vehicle.vehicle_picture.each do |photo| %>
            <div class="item <%= if j == 0 then
                                   "active"
                                 else
                                   ""
                                 end %>">
              <%= image_tag url_for(photo) %>
            </div>
            <% j += 1 %>
          <% end %>
          <a class="left carousel-control" href="#vehiclePicturesCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span> </a>
          <a class="right carousel-control" href="#vehiclePicturesCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span> </a>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
