<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vehicle.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @vehicle.type %>
</p>

<p>
  <strong>Subcategory:</strong>
  <%= @vehicle.subCategory %>
</p>

<p>
  <strong>Model:</strong>
  <%= @vehicle.model %>
</p>

<p>
  <strong>Year:</strong>
  <%= @vehicle.year %>
</p>

<p>
  <strong>Body:</strong>
  <%= @vehicle.body %>
</p>

<p>
  <strong>Meter:</strong>
  <%= @vehicle.meter %>
</p>

<p>
  <strong>Fuel:</strong>
  <%= @vehicle.fuel %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @vehicle.condition %>
</p>

<p>
  <strong>Doors:</strong>
  <%= @vehicle.doors %>
</p>

<p>
  <strong>Seats:</strong>
  <%= @vehicle.seats %>
</p>

<p>
  <strong>Extras:</strong>
  <%= @vehicle.extras %>
</p>

<p>
  <strong>User:</strong>
  <%= @vehicle.user %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
