<div id="shortcut">
  <ul>
    <li>
      <%= link_to root_path, class: 'jarvismetro-tile big-cubes selected bg-color-pinkDark' do %>
        <span class="iconbox"> <i class="fa fa-user fa-4x"></i> <span>My Profile </span> </span>
      <% end %>
    </li>
    <li>
      <%= link_to root_path, class: 'jarvismetro-tile big-cubes bg-color-blue' do %>
        <span class="iconbox"> <i class="fa fa-car fa-4x"></i> <span>My Vehicles <span class="label pull-right bg-color-darken">14</span></span> </span>
      <% end %>
    </li>
    <% if current_user.admin %>
      <li>
        <%= link_to root_path, class: 'jarvismetro-tile big-cubes bg-color-red' do %>
          <span class="iconbox"> <i class="fa fa-envelope fa-4x"></i> <span><%= I18n.t('all_vehicles') %> <span class="label pull-right bg-color-darken">14</span></span> </span>
        <% end %>
      </li>
      <li>
        <%= link_to root_path, class: 'jarvismetro-tile big-cubes bg-color-red' do %>
          <span class="iconbox"> <i class="fa fa-user fa-4x"></i> <span><%= I18n.t('all_users') %></span> </span>
        <% end %>
      </li>
      <li>
        <%= link_to root_path, class: 'jarvismetro-tile big-cubes bg-color-blue' do %>
          <span class="iconbox"> <i class="fa fa-gear fa-4x"></i> <span><%= I18n.t('settings') %></span> </span>
        <% end %>
      </li>
      <li>
        <%= link_to root_path, class: 'jarvismetro-tile big-cubes bg-color-blueDark' do %>
          <span class="iconbox"> <i class="fa fa-book fa-4x"></i> <span>Invoice <span class="label pull-right bg-color-darken">99</span></span> </span>
        <% end %>
      </li>
      <li>
        <%= link_to root_path, class: 'jarvismetro-tile big-cubes bg-color-greenLight' do %>
          <span class="iconbox"> <i class="fa fa-picture-o fa-4x"></i> <span>Gallery </span> </span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
